<div id="<%= dom_id film %>">
  <p>
    <strong>Name:</strong>
    <%= film.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= film.description %>
  </p>

  <p>
    <strong>Trailer:</strong>
    <%= film.trailer %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= film.release_date %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= film.duration %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= film.country %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= film.tags %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= film.age %>
  </p>

</div>
