<div class="vk-films-container">
  <h1>Список фильмов</h1>

  <!-- Кнопка "Создание фильма" -->
  <% if user_signed_in? %>
    <div class="vk-film-actions">
      <%= link_to "Создание фильма", new_film_path, class: "vk-film-button" %>
    </div>
  <% end %>

  <!-- Список фильмов -->
  <div class="vk-films-list">
    <% @films.each do |film| %>
      <div class="vk-film-card">
        <h2><%= link_to film.name, film_path(film), class: "vk-film-link" %></h2>
        <p><strong>Дата выхода:</strong> <%= film.release_date.strftime("%d.%m.%Y") if film.release_date %></p>
        <p><strong>Страна:</strong> <%= film.country %></p>
        <p><strong>Возрастное ограничение:</strong> <%= film.age %>+</p>
      </div>
    <% end %>
  </div>
</div>
