<div class="vk-film-detail">
  <h1><%= @film.name %></h1>

  <p><strong>Описание:</strong> <%= @film.description %></p>
  <p><strong>Трейлер:</strong> <%= link_to "Смотреть трейлер", @film.trailer, target: "_blank", class: "vk-film-link" if @film.trailer %></p>
  <p><strong>Дата выхода:</strong> <%= @film.release_date.strftime("%d.%m.%Y") if @film.release_date %></p>
  <p><strong>Продолжительность:</strong> <%= @film.duration %> минут</p>
  <p><strong>Страна:</strong> <%= @film.country %></p>
  <p><strong>Теги:</strong> <%= @film.tags %></p>
  <p><strong>Возрастное ограничение:</strong> <%= @film.age %>+</p>

  <%= link_to "Редактировать", edit_film_path(@film), class: "vk-film-button" %>
  <%= link_to "Назад к списку", films_path, class: "vk-film-button" %>
</div>
